{% extends 'base.html' %}
{% block title %}User{% endblock title %}
{% block content %}
<p>Welcome, {{userName}}</p>
<h3>What would you like to search, {{userName}}?</h3>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script async src="https://cse.google.com/cse.js?cx=c6780c31ad59048d4"></script>
<div class="gcse-search"></div>
<p>We never keep logs of what is searched, and for the best results, use incognito mode, but if that's unavailable, use this, <br>because it won't affect ads and other trackers as much as a regular google search would.</p>
{% endblock content %}