<!doctype html>
<html>
  <!-- Replace the <html> tag with this: [ <html onmouseleave='swal("Are you Sure?", "Are you sure you want to leave?", "warning")'> ] to warn people about leaving (ignore square brackets) -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-86TYYDGED1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-86TYYDGED1');
        </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script async src="https://cse.google.com/cse.js?cx=960ab960c51434afe"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js?a4098"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js" integrity="sha512-8WAv/Z7UaDv0U1DCJ3W1oul76HOvq2/9mc+IbOZGsTj9iwZnnCXL/0FS6GQKNR++krdfVn9kuAAQ6v2DqZ9uEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" integrity="sha256-Lsk+CDPOzTapLoAzWW0G/WeQeViS3FMzywpzPZV8SXk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/index.min.js" integrity="sha384-pXKGb+4uKMxJHqVwp51Ke3TGlw9Cmv8cb2xCmplR7n7S5PZrZP9zSVC/o2RZritH" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js" integrity="sha256-pHarhWCDelGTiqbhcgyL6HwoYrYiFpDp3n/6wROBGpA=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='htmlp.js') }}"></script>
        <script src="{{ url_for('static', filename='notify.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_v5.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main-styles.css') }}">
        <script>
        const while = null
        void function window.while() {
          this.name = null;
        }
        </script>
        <script>

          function disableScrolling(){
            let x=window.scrollX;
            let y=window.scrollY;
            window.onscroll=function(){window.scrollTo(x, y);};
            $("body").css({
              overflow: "none"
            });
          }
        
        function enableScrolling(){
            window.onscroll=function(){};
            $("body").css({
              overflow: "auto"
            });
        }
        document.onpaste = function(e) { // prevent pasting in the google search
          if (localStorage.getItem("allow-clipboard") != null && localStorage.getItem("allow-clipboard") === "true") {
            let tagName = document.activeElement
            if(!!$(tagName).is("input:text") || !!$(tagName).is("input:password") || !!$(tagName).is("textarea")) {return} // Stop if not seleting an input
            let pasted = e.clipboardData.getData('Text');
            swal("Error", "Pasting not allowed.", "error");
            e.preventDefault();
          }
        }
        if (localStorage.getItem("trap-user") === "true") {location.replace("/trap/")};
        $(document).on("paste", function(e){
          e.preventDefault(); // always prevent pasting
        });
        Mousetrap.bind("ctrl+v", function(){
          if (localStorage.getItem("allow-clipboard") === null) {
            swal({
              title: "This website is requesting access to your clipboard.",
              text: "Their Message: We need clipboard access to prevent malicus input & to save your changes",
              icon: "warning",
              buttons: {
                dont_allow: {
                  text: "Don't Allow",
                  value: "dont-allow",
                },
                allow: {
                  text: "Allow",
                  value: "allow",
                },
              },
            }) 
            .then((x) => {
              switch (x) {             
                case "allow":
                  localStorage.setItem("allow-clipboard", "true")
                  break;
                case "dont-allow":
                  localStorage.setItem("allow-clipboard", "false")
                  break;
                default:
                  console.warn("User not decided to reply.")
                  break;
              }
            });
          };
        });
        </script>
        <style>
          .skip-link-text {
            background: #383838;
            background-color: #383838;
            width: 8rem;
            color: lightgray;
            font-weight: 200;
            font-size: 1rem;
            left: 5%;
            padding: 0.25rem;
            position: absolute;
            z-index: 999;
            transform: translateY(-100%);
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0rem 0rem 0.5rem 0.5rem;
            transition: width 1s, height 1s, background-color 1s, transform 1s;
          }
          skip-link-buttion {
            background: #383838;
            background-color: #383838;
            border: darkgray;
            width: 8rem;
            color: gray;
            left: 5%;
            padding: 0.25rem;
            position: absolute;
            z-index: 1000;
            transform: translateY(-100%);
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0rem 0rem 0.5rem 0.5rem;
            transition: width 1s, height 1s, background-color 1s, transform 1s;
          }
          
          .skip-link-text:focus {
            transform: translateY(0%);
          }
          .skip-link-buttion:focus {
            transform: translateY(0%);
          }
          .skip-link-text:hover {
            color: gray;
            transition: color 0.5s; 
          }
        </style>
        <style>
          .hidden {
            position: absolute;
            transform: translateY(-100%);
            opacity: 0;
          }
          .content {
            overflow: hidden;
          }
        </style>
        <style>
        </style>
        <style>
          .footer {
          position: fixed;
          left: 10px;
          bottom: 5px;
          right: 10px; 
          width: 95%;
          background-color: gray;
          color: white;
          text-align: center;
          }
          </style> 
        <script>
          var isPopupBlockerActivated = function(popupWindow) {
            if (popupWindow) {
                if (/chrome/.test(navigator.userAgent.toLowerCase())) {
                    try {
                        popupWindow.focus();
                    } catch (e) {
                        return true;
                    }
                } else {
                    popupWindow.onload = function() {
                        return (popupWindow.innerHeight > 0) === false;
                    };
                }
            } else {
                return true;
            }
            return false;
        };
        </script>
        <script>
          window.onscroll = function() {scrollFunction()};
          function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              $(".top-btn").fadeIn(500)
            } else {
              $(".top-btn").fadeOut(500)
            }
          }
          function scrollToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
          </script>
          
        <title>{% block title %}{% endblock title %} {% if request.args.get('rTitle', default='false') == 'false' %}- Free Web Utilities {% endif %}</title>
      </head>
    <body>
      {% with alerts = get_flashed_messages(category_filter=["alert"]) %}
      {% if alerts %}
        {% for msg in alerts %}
        <script>swal("Message", "{{ msg }}", "info")</script>
        {% endfor %}
{% endif %}
{% endwith %}
{% with alerts = get_flashed_messages(category_filter=["alert-error"]) %}
      {% if alerts %}
        {% for msg in alerts %}
        <script>swal("Error", "{{ msg }}", "error")</script>
        {% endfor %}
{% endif %}
{% endwith %}
{% with alerts = get_flashed_messages(category_filter=["alert-success"]) %}
      {% if alerts %}
        {% for msg in alerts %}
        <script>swal("Success", "{{ msg }}", "success")</script>
        {% endfor %}
{% endif %}
{% endwith %}
    {% with notify = get_flashed_messages(category_filter=["notify"]) %}
      {% if notify %}
        {% for msg in notify %}
        <script>
         $(document).ready(function(){
          $.notify(
            "{{ msg }}", 
            { position:"right bottom", className:"info"}
          );
         })
        </script>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
{% with notify = get_flashed_messages(category_filter=["notify-success"]) %}
      {% if notify %}
        {% for msg in notify %}
        <script>
         $(document).ready(function(){
          $.notify(
            "{{ msg }}", 
            { position:"right bottom", className:"success"}
          );
         })
        </script>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
{% with notify = get_flashed_messages(category_filter=["notify-error"]) %}
      {% if notify %}
        {% for msg in notify %}
        <script>
         $(document).ready(function(){
          $.notify(
            "{{ msg }}", 
            { position:"right bottom", className:"error"}
          );
         })
        </script>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<a class="skip-link-text" id="skip-link" href='#main'>Skip to content</a>
    <header>
      <!-- Navigation-->
      <script>
        $(document).ready(function(){
          navbar_height = document.querySelector('.navbar').offsetHeight;
          document.body.style.paddingTop = navbar_height + 'px';
        })
      </script>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow-on-hover-no-align box-shadow-on-focus-no-align fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <!--<img src="/static/logo_v5_trasnparent.png" alt="" width="30" height="30" class="d-inline-block align-text-top">-->Free Web Utilites
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              {% if "user" in session %}
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li> 
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cookie-settings">Cookie Settings</a>
              </li>
              <li class-"nav-item"="">
                <a class="nav-link" href="/changelog">Changelog</a>
              </li>
              <li class="nav-item" title="Coming Soon" disabled> 
                <a class="nav-link disabled" href="/shortcuts" title="Coming Soon" disabled>Keyboard Shortcuts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/comment">Comment</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/page-creator">Page Creator</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Games
                </a>
                <ul class="dropdown-menu animate slideIn box-shadow-no-align" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/games/breakout">Breakout</a></li>
                  <li><a class="dropdown-item" href="/games/snake">Snake</a></li>
                  <li><a class="dropdown-item" href="/games/snake/standard">Standard Snake</a></li>
                  <li><a class="dropdown-item" href="/games/snake/v2">Snake V2</a></li>
                  <li><a class="dropdown-item" href="/games/connect-four/">Connect 4 VS AI</a></li>
                  <li><a class="dropdown-item" href="/games/pong/?vs=ai&mode=easy">Pong VS AI (easy)</a></li>
                  <li><a class="dropdown-item" href="/games/pong/?vs=ai&mode=hard">Pong VS AI (hard)</a></li>
                  {% if "admin" in session%}
                    <li><a class="dropdown-item" href="/games/tic-tac-toe">Tic Tac Toe</a></li>
                  {% endif %}
                  <!--<li><a class="dropdown-item" href="/games/2048">2048</a></li>-->
            </ul>
          </li></ul></div>
        </div>
      </nav>
    </header>  
        
          <div class="-popup" id="-popup"> <!--This is for WIP Pages-->
            <h2>Infinite Loop Detected</h2>
            <p>An infinite loop was detected, so you cannot interact with this website.</p>
          </div>
          <div class="-popup" id="-popup-2">
            <h2 style="top: 50%;">Locked Due to Checksum Error</h2>
          </div>
          <script>
            Mousetrap.bind("ctrl+alt+a", function(){
              window.location.replace("/admin/login")
            });
            Mousetrap.bind("ctrl+alt+e", function(){
               $("#-popup").slideDown(1000);
               disableScrolling();
            });
            Mousetrap.bind("ctrl+alt+p", function(){
              $("#-popup").slideUp(1000);
              enableScrolling();
            })
            
            let disable = true
            Mousetrap.bind("ctrl+alt+n", function(){
              $("#-popup-2").fadeToggle(1000);
              if (disable) {
                disableScrolling();
                disable = false;
              } else {
                enableScrolling();
                disable = true;
              }
            })
          </script>
          <script>
            /*
            $(document).mouseleave(function(){
              console.log("Mouse Left");
            })
            $(document).on("keypress", function(){
              console.log("Key Pressed!");
            })
            $(document).mouseenter(function(){
              console.log("Mouse Entered");
            }) */

            //Back error bug commented out
            /*
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
            swal("Error", "history.back() returns popstate.loadState(this).goBack(), which is invalid. ERROR: error_no_valid_popstate_client", "error")
            console.error("history.back() overwrote! No valid popstate!")
            });
            */
            // Add blank target to all a elemnts
            /*
            document.addEventListener("click", function(e) {
              if (e.target.tagName == "A" &&!e.target.hasAttribute("target") && !e.target.className == "nav-item" || "no-target")
              {
                  e.target.setAttribute("target", "_blank");
              }
            }); */ 
            const sleep = ms => new Promise(r => setTimeout(r, ms));  
             /*window.confirm = async function(msg, title="", icon=""){
              swal({
                text: msg,
                title: title,
                icon: icon,
                buttons: true,
              })
              .then((e) => {
                if (e != true) {return false}
                if (e === true || e === 'true') {return true}
                if (e !== true || e !== 'true' && e == "undefined") {return 'waiting for user response'}
              });
            };*/
          </script>
          <script>let animate = true;</script>
          <main id="main">
            <button onclick="scrollToTop()" class="top-btn" title="Go to top"><i class="white-arrow up cursor-auto"></i></button>
            <div class="content">
            {% block content %}{% endblock content %}
            </div>
          </main>
          <!---
          <div class="bottom-menu">
            <button class="bottom-menu-trigger">Settings</button>
              <div class="menu-content">
               <p>Content that overflows outside parent</p>
              </div>
          </div>-->
          <script>
            $(".bottom-menu-trigger").click(function(){
              $(".menu-content").slideToggle(1000)
            });
          </script>
          <center>
            <div style="max-width: 100ch;">
              <noscript class="error-no-hover">
                For full functionality of this site it is necessary to enable JavaScript.
                Here are the <a href="https://www.enablejavascript.io/" target="_blank">
                instructions how to enable JavaScript in your web browser</a>, or <a href="/js-not-on/" target="_blank">learn what functionality is disabled withoout JavaScript</a>
              </noscript>
            </div>
          </center>
          <script>
            /*console.log = function(message) {
              console.count("logCount")
              console.info(message + " | (this was a console.log) (counted) (1 out of"+ console.count("logCount"))
            }*/
          </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
  //console.clear()
  //console.log("Console cleared!")
  //console.log(console.count())
</script>
<script>
  function animateBodyload() {
    if (animate) { // I know I could make this cleaner, but I don't want to. --UPDATE-- I did
      $("#main").hide() // Hide for animation
      $(document).ready(function(){
        $("#main").slideDown(2000);
        $("#main").show() // show fallback
      })
    }
  } 
</script>
{% if request.args.get('hide-nav', default='false') == 'true' %}
<script>
    $("header").first().hide()
    $("#skip-link").hide()
</script>
{% endif %}
<script>
  function urlChangeNotice() {
    if (localStorage.getItem("already_notified_url_shortcut") === null) { // check if they haven't seen the notice yet
      let start = new Date() // get new date
     swal("New URL Shortcut!", "New, easy URL, which is tinyurl.com/freewu", "info")
     .then((r) => {
       if(r){
         if (new Date() - start > 6500) { // make sure they waited at least 6.5 sec to read
           localStorage.setItem("already_notified_url_shortcut", 'true') // mark as seen notice
         } else {
           swal("Please read new notice!", "Please read the new notice!")
           .then((r) => {
            urlChangeNotice()
           });
         };
       };
     });
    };
  };
  $(document).ready(urlChangeNotice());
</script>
<script>
  let today = new Date();
  let hours = today.getHours() 
  let minutes = today.getMinutes()
  let restart_server = false // may do something, eventually. 
  $(document).ready(function(){
    if (hours === 23 && minutes === 54) {
      if (restart_server) {
        swal("SCEDULED SERVER RESTART IN 5 MINUTES", "In five minutes, the server will restart. Copy unsaved input to somewhere (eg. google docs). You may need to log in again.", "warning")
      };
    };
  });
  const options = {
    bottom: '32px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '1s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  darkmode.showWidget();  
  document.querySelector(".darkmode-toggle").addEventListener('click', () => {
    if (darkmode.isActivated()) {
      document.getElementsByTagName('nav')[0].setAttribute('class', 'navbar navbar-expand-lg navbar-light bg-light box-shadow-on-hover-no-align box-shadow-on-focus-no-align fixed-top')
    } else {
      document.getElementsByTagName('nav')[0].setAttribute('class', 'navbar navbar-expand-lg navbar-dark bg-dark box-shadow-on-hover-no-align box-shadow-on-focus-no-align fixed-top')
    }
    if (darkmode.isActivated()) {
        $('label').css('color', 'white')
    } else {
       $('label').css('color', 'black')
    }
  })
  if (darkmode.isActivated()) {
    $('label').css('color', 'white')
  } else {
    $('label').css('color', 'black')
  }  
  Mousetrap.bind('ctrl+alt+d', function(){
    document.querySelector('.darkmode-toggle').click()
  })
</script>
</body>
</html>