{% extends 'base.html' %}
{% block title %}Comment Policy{% endblock title %}
{% block content %}
<center><h1>Comment Policy</h1></center><br>
<h2>Good Rules to Follow</h2>
<h4>- If requsting a feature, check to make sure it was not already requested! If it is, you may want to upvote/like the comment it!</h4>
<h4>- If reporting a bug, check to make sure it was also not already requested! If it is, you may want to upvote/like the commment</h4>
<h2>Things to Keep in Mind</h2>
<h4>- DO NOT WRITE ANY HATE OF ANY KIND</h4>
<h4>- DO NOT DISCRIMINATE</h4>
<h4>- DO NOT SPAM </h4>
<h4>- If your comment is flagged more than 5 times, it will be sent for review by one of our moderators. </h4>
<h4>- Please use English</h4>
<h2>Possible Punishments</h2>
<h3>Hate & Spam Punishments</h4>
<h4>First Time: mute for 5-20 minutes, however, you may only get a warning</h4>
<h4>Second Time: mute for 45-120 (2 hours) minutes</h4>
<h4>Third Time: Temp ban for 12-48 (2 days) hours</h4>
<h4>Fourth Time: ALL comments are held for review for 1-4 (1 month) weeks</h4>
<h4>Fifth Time: Temp ban for 6-48 (4 years) months, however, if it is very severe, you may get a 5 or more years, or a permanent ban</h4>
<h3>Discrimination Punishments</h3>
<h4>First Time, ALL comments held for review for 1-4 (1 month) weeks.</h4>
<h4>Second Time: Temp ban for 12-48 (2 days) hours</h4>
<h4>Third Time: Temp ban for 6-48+ (4 years) months</h4>
<h4>Fourth Time: Permanent ban</h4>
{% endblock content %}