<!doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" integrity="sha256-Lsk+CDPOzTapLoAzWW0G/WeQeViS3FMzywpzPZV8SXk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    </head>
    <body>
        <center>
            <h1>THERE IS NO ESCAPE</h1>
            <p>Don't even try.</p>
        </center>
        <script>
            $(document).keydown(function(e){
                e.preventDefault()
                e.stopImmediatePropagation();
                e.stopPropagation();
            });
            $(document).mousedown(function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                e.stopPropagation();
            });
            $(document).on("mouseup", function(e){ // Not sure if there is a .mousup function, so this should work
                e.preventDefault(); 
                e.stopImmediatePropagation();
                e.stopPropagation();
            }); 
            $(document).keyup(function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                e.stopPropagation();
            });
            $(document).on("beforeunload", function(e){
                e.preventDefault();
                e.stopImmediatePropagation();
                e.stopPropagation();
                return false;
            });
            $(document).on("onblur", function(){
                $(document).click();
            });
        </script>
    </body>
</html>